<h2>New Todo</h2>
<form class="create-container" action="/todos/new" method="post">
  <input
    class="todo-input"
    type="text"
    name="description"
    placeholder="Description"
  />
  <input class="btn btn--save" type="submit" value="Save" />
</form>