<h2>&lt;/All Your Incompleted Todos&gt;/</h2>
<div class="filter">
  <p>Filter:</p>
  <a href="/todos">All</a>
  <a href="/todos/complete">Complete</a>
  <a href="/todos/incomplete">incomplete</a>
</div>
<ul>
    {{#if incompletedList}}
  {{#each incompletedList}}

    <a class="todo {{done}}" href="/todos/{{_id}}"><li>{{description}}</li></a>
  {{/each}}
</ul>
{{/if}}